body {
    background: url("../imgs/cubes.png");
}
.container {
    max-width: 960px;
    background-color: whitesmoke;
}

.a-timer {

    position: absolute;
    right: 0;
    top: 0;
}

.trophy {
    opacity: 0.05;
}